.allcontainer{
width: 40%;
display: inline-block;
float: right;
margin-right: 100px;
margin-top: -100px;
}


.leftside{
width: 40%;
display: inline-block;
float: left;
}

.fightglass{
width: 40%;
display: inline-block;
float: left;
margin-left: 30px;
}

.enitre{
width: 40%;
display: inline-block;
background-color: #ededed;
padding-left: 50px;
padding-bottom: 30px;
box-shadow: 10px 10px 20px #303030;
margin-left: 100px;
}


.bodyI{
height: 1660px;
}


body {
margin: 0;

font-family: 'Montserrat', sans-serif;

}



h6{

font-size: 18px;
padding-left: 20px;

}




.banner{

width:99%;

}




.button {
  
background-color: #CD0000;
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block; 
font-size: 16px;
font-family: 'Montserrat', sans-serif;
position: relative;
top: 240px;
right: 552px;
}


.button2 {
  
background-color: #CD0000;
border: none;
color: white;
padding: 12px 21px;
text-align: center;
text-decoration: none;
display: inline-block; 
font-size: 13px;
margin: 4px 2px;
font-family: 'Montserrat', sans-serif;


}




.button2:hover {
  background-color: #b40000;
  color: white;
}


.button:hover {
  background-color: #b40000;
  color: white;
}



ul.saletitle{

font-size: 25px;

}

.about{
display: inline-block;
}

ul.abouttitle{

font-size: 25px;

}




.FormTitle{

font-size: 40px;

}



ul.aboutp{

font-size: 15px;

}



.future{
  
display: inline-block;

width: 49%;


position: relative;
bottom: 0px;
}




.current{
  
display: inline-block;
width: 49%;
position: relative;
bottom: 30px;


}




.salestitle{

position: relative;

font-size: 25px;

}




.salestitle2{

position: relative;

font-size: 25px;

}






.list{

}




.list2{

}


h6{
}


.crayon, .pepper, .lego, .agree, .cat, .deaf, .crimes, .energy, .fight, .run, .sarcasm, .sorry, .storm, .unite, .worm {

width: 250px;
height: 250px;
display: inline-block;
}



.img1, .img2, .img3, .img4, .img5, .img6, .img7, .img8, .img9, .img10, .img11, .img12, .img13, .img14, .img15 {
display: inline-block;

}




.img1, .img2, .img4, .img6, .img11, .img10, .img13, .img15 {

color: #e60000;

}





a:link {
  
color: black;
  
background-color: transparent;
  
text-decoration: none;


}



a:visited {
  
color: #248f24;
  
background-color: transparent;
  
text-decoration: none;

}








.img5, .img3, .img8, .img9, .img12, .img14, .img7 {

text-decoration: none;
color: #248f24;
}

.lego, .cat, .fight, .energy, .crimes, .worm, .unite{
position: relative;
top: 20px;
}



a:link {
color: #248f24;
 background-color: transparent;
  
text-decoration: none;

}

a:hover {
  
color: grey;
  
background-color: transparent;

}


h6:hover {
  
color: grey;
  
background-color: transparent;

}








/*pg2*/


 

*{
box-sizing: border-box;
}

.img-magnifier-container {
 display: inline-block;
position:relative;
float: left;
}



.img-magnifier-glass {
  
position: absolute;
  
border: 1.5px solid #000;
  
border-radius: 50%;
  
cursor: none;
  
/*Set the size of the magnifier glass:*/
 
width: 150px;
  
height: 150px;

}





#myimage{

padding-left: 40px;

}

.big{
font-size: 30px;
}

.small{
font-size: 20px;
}

.verysmall{
font-size: 15px;
}


.dtitle{
font-size: 40px;
}


.entire{

display: inline-block;
float: right;


}










/*contact*/


* {box-sizing: border-box;}


input[type=text], select, textarea {
  
width: 100%;
  
padding: 12px;
  
border: 1px solid #ccc;
  
border-radius: 4px;
  
box-sizing: border-box;
  
margin-top: 6px;
  
margin-bottom: 16px;
  
resize: vertical;

  
font-family: 'Montserrat', sans-serif;

}



input[type=submit] {
  background-color: #CD0000;
  
color: white;
  
padding: 12px 20px;
  
border: none;
  
border-radius: 0px;
  
cursor: pointer;
  
font-family: 'Montserrat', sans-serif;

}



input[type=submit]:hover {
  
background-color: #b40000;

}










.container {
  
border-radius: 5px;
  
background-color: #f2f2f2;
display: inline-block;
padding: 20px;
  font-family: 'Montserrat', sans-serif;

}







.FormTitle{

padding-left: 0px;


}
















/* Navigation Bar */

ul.sidenav {
  
list-style-type: none;
  
margin: 0;
  
padding: 0;
  
width: 25%;
  
background-color: #f1f1f1;
  
position: fixed;
  
height: 100%;
  
overflow: auto;

}




ul.sidenav li a {
  
display: block;
  
color: #000;
  
padding: 8px 16px;
  
text-decoration: none;

}


 
ul.sidenav li a.active{

 background-color: #CD0000;
  
color: white;

}


ul.sidenav li a:hover:(.active) {
  
background-color: #B40000;
  
color: white;

}



ul.sidenav li a.active2{

background-color: #CD0000;
  
color: white;

}



ul.sidenav li a:hover(.active2) {
  
background-color: #B40000;
  
color: white;

}




/*stuff*/



ul.sidenav li a:hover:not(.active) {
  
background-color: #555;
  
color: white;

}




ul.sidenav li a:hover:not(.notactive) {
  
background-color: #ba0000;
  
color: white;


}



div.content {
  
margin-left: 25%;
  
padding: 1px 16px;
  
height: 1000px;
}




@media screen and (max-width: 9000px) {
  
ul.sidenav {
    
width: 100%;
    
height: auto;
    
position: relative;
  
}
  
  

ul.sidenav li a {
    
float: right;
    
padding: 15px;
  
}
  
  

div.content {
margin-left: 0;
}
}



@media screen and (max-width: 400px) {
 
 ul.sidenav li a {
    text-align: center;
    float: none;
  }
/* Navigation Bar End */
